@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'tap';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 500;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.iconfont {
  width: 1em;
  height: 1em;
  min-width: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// main-container global css
.app-header {
  padding: 20px;
  background-color: #fff;
}

.app-container {
  padding: 20px;
  margin: 24px 24px 0;
  background-color: #fff;
}

.page-header-heading {
  @extend .clearfix;

  .page-header-heading-title {
    display: block;
    float: left;
    margin-bottom: 0;
    padding-right: 12px;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
}

.page-container {
  @extend .clearfix;

  padding: 16px 0;
}

.base-form {

}

.btn-tools {
  margin-bottom: 20px;
}

.error-page {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 100px;
  text-align: center;

  .title {
    color: #434e59;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
  }

  .info {
    color: rgba(0, 0, 0, .45);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

code {
  padding: 12px;
  border-radius: 3px;
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 400;
  overflow-x: auto;
  line-height: 1.45;
  word-break: break-all;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, .85);
  background-color: rgb(246, 248, 250);
  font-family: sfmono-regular, Consolas, liberation mono, Menlo, Courier, monospace;

  &.light {
    color: rgba(0, 0, 0, .85);
    background-color: rgb(246, 248, 250);
  }

  &.dark {
    color: #ccc;
    background: #282c34;
  }

  & + code {
    margin-top: 12px;
  }
}